/* --- Begin Global Styling --- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700,800|Open+Sans+Condensed:300,700);

/* General -------- */
body{background-color:#171717;}
.row{max-width:100em;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td{font-family: 'Open Sans', sans-serif; letter-spacing:1px; font-weight:300; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{color:#fff;}
p{margin-bottom:0; font-size:16px; line-height:24px; color:#959595;}
a, button{-webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;}
a:focus{color:#3bc102;}
ul, ol, li{list-style:none;}
ul li ul, ul li ol{margin:0; padding:0;}
a{color:#fff; text-decoration:none;}
a:hover{color:rgba(255,255,255,.6);}
a.btn{display:inline-block;}
div, header, main, footer, section{float:left; width:100%; height:auto;}
section{padding:0 40px;}
footer{padding:0 40px;}
div.row{float:none;}


/* Flex Box Model --------- */
.flex{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap;}
.justify-left{-webkit-box-pack: left; -webkit-justify-content: left; -ms-flex-pack: left; justify-content: left;}
.justify-center{-webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;}
.justify-right{-webkit-box-pack: right; -webkit-justify-content: right; -ms-flex-pack: right; justify-content: right;}


/* Tables --------- */
.table{background:#171717; border:0;}
.table thead{background:#404040;}
.table thead tr th{cursor:pointer; font-size:13px; line-height:14px; color:#fff; font-weight:400; text-transform:uppercase; padding:15px 10px; text-align:left; vertical-align:middle;}
.table tbody{background:#171717;}
.table tbody tr:nth-of-type(even){background:#171717;}
.table tbody tr{-webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;}
.table tbody tr:hover{background:rgba(255,255,255,.1);}
.table tbody tr:hover td{color:#fff;}
.table tbody tr td{border-bottom:2px solid #404040; text-align:left; vertical-align:middle; padding-top:16px; padding-bottom:16px; color:#959595; font-size:14px; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;}
.table tbody tr td a{font-weight:600;}
.table tbody tr td a:hover{color:#fff;}
.table tbody tr td img{width:35px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin-right:15px;}


/* Loader - Loading --------- */
#loader-wrapper .loader-section {position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 1000;}
#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;}   
#loader {z-index: 1001;}
#loader-wrapper {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;}
#loader {display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #2c7100; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; z-index: 1001;}
#loader:before {content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3bc102; -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite;}
#loader:after {content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent; border-top-color: #3bc102; -webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite;}
@-webkit-keyframes spin {0%{ -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
@keyframes spin {0%{-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
#loader-wrapper .loader-section {position: fixed; top: 0; width: 51%; height: 100%; background: #101010; z-index: 1000; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);}
#loader-wrapper .loader-section.section-left {left: 0;}
#loader-wrapper .loader-section.section-right {right: 0;}

/* Loader - Loaded ---------- */
.loaded #loader-wrapper .loader-section.section-left {-webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader-wrapper .loader-section.section-right {-webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);}
.loaded #loader {opacity: 0; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.loaded #loader-wrapper {visibility: hidden; -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); -webkit-transition: all 0.3s 1s ease-out; transition: all 0.3s 1s ease-out;}
.no-js #loader-wrapper {display: none;}


/* Form Elements -------- */

/* Default Button State -------- */
.btn{font-size:14px; line-height:22px; color:#fff; border-radius:50px; cursor:pointer; font-weight:300; letter-spacing:2px; background:transparent; text-transform:uppercase; padding:8px 20px; margin-bottom:0; text-shadow:0 1px 1px rgba(0,0,0,.6); -webkit-transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.btn:hover{background:rgba(255,255,255,.6); -webkit-transform: scale(1.1) translateZ(0); -moz-transform: scale(1.1) translateZ(0); -ms-transform: scale(1.1) translateZ(0); -o-transform: scale(1.1) translateZ(0); transform: scale(1.1) translateZ(0);}

/* Primary Green Button State -------- */
.btn.green{background:#3bc102; border:1px solid #3bc102;}
.btn.green:hover{border:3px solid #2c7100; background:#2c7100;}

/* Secondary Transparent Button State -------- */
.btn.trans{border:2px solid rgba(255,255,255,.7);}

/* Input -------- */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
    background:#483f3e; display:block; width:100%; height:55px; padding:12px 17px 13px; font-size:14px; line-height:22px; color:#ccc; border:0;
}
input[type="file"]{color:transparent; text-align:center; height:42px; width:auto;}
input[type="file"]::-webkit-file-upload-button{visibility:hidden;}
input[type="file"]::before{content:'Upload an Image'; display:block; color:#ccc; max-width:155px; margin:0 auto; float:none;}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus{
    color:#666;
}

.radio{margin-top:10px; float: left; width: 28px; height: 28px; background: #fcfff4; background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); position: relative;}
.radio input[type="radio"]{visibility: hidden;}
.radio input[type="radio"] + label{margin-left:0; margin-right:0;}
.radio label{margin: 0; cursor: pointer; position: absolute; width: 20px; height: 20px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; left: 4px; top: 4px; -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%); background: -moz-linear-gradient(top, #222222 0%, #45484d 100%); background: -o-linear-gradient(top, #222222 0%, #45484d 100%); background: -ms-linear-gradient(top, #222222 0%, #45484d 100%); background: linear-gradient(top, #222222 0%, #45484d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#ff45484d',GradientType=0 );}
.radio label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;content: '';position: absolute;width: 16px;height: 16px;background: #3bc102;background: -webkit-linear-gradient(top, #3bc102 0%, #388f00 100%);background: -moz-linear-gradient(top, #3bc102 0%, #388f00 100%);background: -o-linear-gradient(top, #3bc102 0%, #388f00 100%);background: -ms-linear-gradient(top, #3bc102 0%, #388f00 100%);background: linear-gradient(top, #3bc102 0%, #388f00 100%);-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);top: 2px;left: 2px;}
.radio label:hover::after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter: alpha(opacity=30);opacity: 0.3;}
.radio input[type=radio]:checked + label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}
.radio span{float:left; color:#959595; font-size:14px; line-height:16px;}

textarea{height:200px;}
.select{position:relative; height:55px; padding:12px 17px 13px;}
.select::after{content:'\f199'; font-family:'foundation-icons'; position:absolute; top:0; right:10px; color:#fff; font-size:24px; z-index:1;}
select{background:none; border:2px solid rgba(255,255,255,.7); -webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease; color:#ccc; font-size:14px; line-height:16px; position:relative; z-index:2;}
select:focus, input:focus, textarea:focus{outline:none;}
.label{position:relative; font-size:14px; line-height:16px; color:#959595; padding:10px 0; font-family:'Open Sans', sans-serif; background-color:transparent; cursor:auto; text-align:left; width:100%; font-weight:normal;}
.label em{color:#ac070b;}
.label .small-9{font-weight:normal;}

/* Crop Box --------- */
.imageBox{position: relative; height: 400px; width: 400px; border:1px solid #aaa; background: #fff; overflow: hidden; background-repeat: no-repeat; cursor:move;}
.imageBox .thumbBox{position: absolute; top: 50%; left: 50%; width: 200px; height: 200px; margin-top: -100px; margin-left: -100px; box-sizing: border-box; border: 1px solid rgb(102, 102, 102); box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5); background: none repeat scroll 0% 0% transparent;}
.imageBox .spinner{position: absolute; top: 0; left: 0; bottom: 0; right: 0; text-align: center; line-height: 400px; background: rgba(0,0,0,0.7);}


/* Tooltip --------- */
.tooltip{background:#fff; color:#666;}
.tooltip > .nub{border-color: transparent transparent #fff transparent;}


/* --- Begin Block Styling --- */

/* Header - Desktop - General --------- */
header{margin:0; position:relative; z-index:1000; background:transparent;}
header nav.pri-nav{float:left; width:100%;}
header nav.pri-nav .browse, header nav.pri-nav .logo, header nav.pri-nav .cart{padding-top:16px; padding-bottom:16px;}
header nav.pri-nav .browse a{display:block; text-align:left;}
header nav.pri-nav .browse a i{float:left; margin-right:10px; font-size:32px;}
header nav.pri-nav .browse a span{float:left; text-transform:uppercase; font-size:14px; font-weight:400; margin-top:13px;}
header nav.pri-nav .logo a{display:block; text-align:center;}
header nav.pri-nav .logo a img{width:40px; display:block; margin:0 auto; float:none;}
header nav.pri-nav .cart ul{float:left; width:100%;}
header nav.pri-nav .cart ul li{float:right; max-width:210px;}
header nav.pri-nav .cart ul li a i{font-size:48px; position:relative; margin-top:-20px; z-index:99; display:block;}
header nav.pri-nav .cart ul li a.cart-icon{position:relative; text-align:center;}
header nav.pri-nav .cart ul li a.cart-icon span.count{position:absolute; top:-43px; color:#171717; font-size:14px; font-weight:600; left:16px; z-index:100;}
header nav.pri-nav .cart ul li a.signin{float:left; width:90px; text-align:center; font-size:10px; padding:2px 0; margin-top:6px; margin-right:10px;}
header nav.pri-nav .cart ul li a.register{float:left; width:110px; text-align:center; font-size:10px; padding:2px 0; margin-top:6px; background:#fff; color:#171717; text-shadow:none; font-weight:600;}
header nav.pri-nav .cart ul li span.sep{color:#404040; font-size:24px; padding:0 10px;}

/* Header - Site Search --------- */
header .site-search{background:#2c7100;}
header .site-search form ul{float:left; width:100%;}
header .site-search form ul li{float:left;}
header .site-search form ul li:last-child{text-align:right;}
header .site-search form input[type="search"]{background:#2c7100; border:0; box-shadow:none; height:auto; padding:16px 17px 16px; margin-bottom:0; font-size:16px; line-height:24px; color:#fff; border-left:10px solid #2C7100;}
header .site-search form input[type="search"]::-webkit-input-placeholder{color:rgba(255,255,255,.6);}
header .site-search form input[type="search"]:-moz-placeholder{color:rgba(255,255,255,.6);  /* Firefox 18- */}
header .site-search form input[type="search"]::-moz-placeholder{color:rgba(255,255,255,.6);  /* Firefox 19+ */}
header .site-search form input[type="search"]:-ms-input-placeholder{color:rgba(255,255,255,.6);}
header .site-search form input[type="search"]:focus{border-left:10px solid #3bc102;}
header .site-search form button{margin-bottom:0; background:#fff; color:#171717;}
header .site-search form button i{font-size:20px;}

/* Header - Sign in / Register Modals --------- */
.reveal-modal.signin, .reveal-modal.register{margin:0; width:100%; max-width:100%; height:100%; top:0; border-radius:0; max-height:600px; background:transparent; padding:0;}
.reveal-modal.signin .bg-image-holder, .reveal-modal.register .bg-image-holder{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover!important; z-index: 0; background-position: 50% 50%!important;}
.reveal-modal.signin .close-reveal-modal, .reveal-modal.register .close-reveal-modal{color:#fff;}

.userModal{border:0;}
.userModal:focus{outline:0;}
.userModal .form-wrap{width:400px; margin-top:100px; position:relative;}
.userModal .form-wrap h2{font-size:28px; line-height:32px; font-weight:100; width:100%; margin-bottom:30px; text-align:center;}
.userModal .form-wrap ul{float:left; width:100%;}
.userModal .form-wrap ul li{position:relative; float:left; width:100%;}
.userModal .form-wrap ul li label{position:absolute; top:0; left:20px; z-index:1; padding-right:20px; border-right:2px solid #2f7f12; padding-top:14px; height:55px;}
.userModal .form-wrap ul li label i{color:#ccc; font-size:24px; line-height:24px;}
.userModal .form-wrap ul li input{padding-left:78px; background:#fff; box-shadow:none;}
.userModal .form-wrap ul li button{width:100%; margin-top:20px;}
.userModal .form-wrap .forgot{margin-top:40px;}
.userModal .form-wrap .forgot ul li{width:100%; margin-bottom:20px; text-align:center;}
.userModal .form-wrap .forgot ul li a{font-size:14px; line-height:22px;}

/* Off Canvas Menus - General --------- */
.menus.move-left > .inner-wrap{webkit-transform: translate3d(-400px, 0, 0); -moz-transform: translate3d(-400px, 0, 0); -ms-transform: translate3d(-400px, 0, 0); -o-transform: translate3d(-400px, 0, 0); transform: translate3d(-400px, 0, 0);}
.menus.move-right > .inner-wrap{webkit-transform: translate3d(400px, 0, 0); -moz-transform: translate3d(400px, 0, 0); -ms-transform: translate3d(400px, 0, 0); -o-transform: translate3d(400px, 0, 0); transform: translate3d(400px, 0, 0);}
.cart.right-off-canvas-menu, .priNav.left-off-canvas-menu{width: 400px;}


/* Primary Navigation Menu --------- */
aside.priNav{background:#333;}
aside.priNav nav{padding:30px 40px 40px; width:320px; position:relative;}
aside.priNav nav .exit{position:absolute; top:10px; right:20px; width:30px; height:30px;}
aside.priNav nav .exit a{text-align:center; box-shadow:none; font-size:20px; color:#fff; background:transparent;}
aside.priNav nav .exit a:hover{background:transparent; color:rgba(255,255,255,.6);}
aside.priNav nav .level-1{color:#e5e5e5; font-size:14px; line-height:30px; text-transform:uppercase; font-weight:600; padding:10px 0 0 0; display:block;}
aside.priNav nav .level-1:hover{color:#fff;}
aside.priNav nav .level-2{color:#959595; font-size:13px; line-height:25px; display:block;}
aside.priNav nav .level-2:hover{color:#fff;}
aside.priNav nav .left-submenu{box-shadow:4px 0 4px rgba(0, 0, 0, 0.5);}
aside.priNav nav .left-submenu li{}
aside.priNav nav .left-submenu li a{color:#959595; font-size:13px; line-height:25px; display:block; padding-left:20px;}
aside.priNav nav .left-submenu li a:hover{color:#fff;}
aside.priNav nav .left-submenu .back > a{background:#171717; margin-bottom:20px;}
aside.priNav nav .left-submenu .back > a:before{content:'\f10a'; font-family:'foundation-icons';}
aside.priNav nav .nav-area.categories{padding-bottom:20px; border-bottom:1px solid #404040;}
aside.priNav nav .nav-area.account{padding:20px 0;}
aside.priNav nav .nav-area.other{padding-bottom:20px; border-bottom:1px solid #404040;}
aside.priNav nav .nav-area.account a, aside.priNav nav .nav-area.other a{font-size:13px; color:#959595; line-height:25px; font-weight:300;}
aside.priNav nav .nav-area.account a:hover, aside.priNav nav .nav-area.other a:hover{color:#fff;}
aside.priNav nav .nav-area.social{padding-top:20px;}
aside.priNav nav .nav-area.social li{display:inline-block; margin-right:10px;}
aside.priNav nav .nav-area.social li a{font-size:20px; color:#959595;}
aside.priNav nav .nav-area.social li a:hover{color:#fff;}


/* Cart --------- */
aside.cart{background:#f9f9f9;}
.cart section{float:left; width:100%; padding:0;}
.cart .cart-header{background:#171717; text-align:center; padding:15px 0; position:relative;}
.cart .cart-header a{position:absolute; top:0; left:0; font-size:20px; color:#fff; display:block; text-align:left; padding:13px 0 0 20px;}
.cart .cart-header h1{font-size:18px; color:#fff; font-weight:400;}
.cart .cart-items .container{height:250px; overflow:auto; padding-top:20px;}
.cart .cart-items .container .items{float:left; width:360px; padding:0 20px;}
.cart .cart-items .container .items .item{float:left; width:100%; border-bottom:1px solid #e8ebf1; padding:10px 0;}
.cart .cart-items .container .items .item ul{float:left; width:100%;}
.cart .cart-items .container .items .item ul li{float:left; margin:0 1%;}
.cart .cart-items .container .items .item ul li.image{width:15%; margin-left:0;}
.cart .cart-items .container .items .item ul li.names{width:71%;}
.cart .cart-items .container .items .item ul li.actions{width:10%; margin-right:0; text-align:center;}
.cart .cart-items .container .items .item .product img{float:left; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.cart .cart-items .container .items .item .product a{float:left; width:100%; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; font-size:12px; line-height:15px; color:#576474;}
.cart .cart-items .container .items .item .product a:hover{opacity:.6;}
.cart .cart-items .container .items .item .product a.name{text-transform:uppercase; font-weight:700; margin-top:10px;}
.cart .cart-items .container .items .item .product a.seller{font-weight:400; margin-top:5px;}
.cart .cart-items .container .items .item .product button{padding:0; color:#576474; background:transparent;}
.cart .cart-items .container .items .item .product button:hover{color:#9e0b0f;}
.cart .cart-items .container .items .item .leftovers{margin:10px 0;}
.cart .cart-items .container .items .item .leftovers ul li{float:left; margin:0 1%;}
.cart .cart-items .container .items .item .leftovers ul li.qty{width:10%;}
.cart .cart-items .container .items .item .leftovers ul li.in{width:10%;}
.cart .cart-items .container .items .item .leftovers ul li.price{width:74%; text-align:right;}
.cart .cart-items .container .items .item .leftovers ul li.price span{color:#576474; font-size:16px; font-weight:400;}
.cart .cart-items .container .items .item .leftovers .qty span{font-size:13px; text-transform:uppercase; font-weight:600; color:#576474;}
.cart .cart-items .container .items .item .leftovers input{background:#f9f9f9; margin:0; box-shadow:none; border:1px solid #e8ebf1; width:30px; height:30px; padding:0; text-align:center;}

.cart .sub-totals{background:#e8ebf1;}
.cart .sub-totals ul{float:left; padding:20px; width:160px;}
.cart .sub-totals ul li{width:100%; float:left; margin-bottom:5px;}
.cart .sub-totals ul li:last-child{margin-bottom:0;}
.cart .sub-totals span{float:left; font-size:12px; text-transform:uppercase; font-weight:400; color:#576474;}
.cart .sub-totals .cost span{float:right;}

.cart .total{margin:20px 0;}
.cart .total span{float:left; font-size:12px; text-transform:uppercase; font-weight:400; color:#576474; padding-left:20px;}
.cart .total .final span{float:right; padding-right:20px; font-weight:600; color:#576474; font-size:18px; margin-top:-6px;}

.cart .checkout{margin:0 0 30px 0; padding-top:20px; border-top:1px solid #e8ebf1; text-align:center;}
.cart .checkout button{width:200px;}


/* Footer --------- */
footer{background:#101010; margin-top:190px; padding:70px 40px 15px 40px;}
footer .footer-top .emailSignUp{margin-top:55px; border-top:1px solid rgba(255,255,255,.4); padding-top:55px;}
footer .footer-top h2{float:left; width:100%; text-align:left; font-size:18px; line-height:24px; color:#fff; font-weight:400; margin:0 0 33px 0;}
footer .footer-top ul{float:left; width:100%;}
footer .footer-top ul li{float:left; width:100%; text-align:left; margin-bottom:10px;}
footer .footer-top ul li a{padding:5px 0; width:100%; color:#959595; font-size:14px; line-height:16px;}
footer .footer-top ul li a:hover{color:#fff;}
footer .footer-top ul li a span:first-child{display:block; opacity:1;}
footer .footer-top ul li a span:last-child{display:none; opacity:0;}
footer .footer-top .five.columns ul li a:hover span:first-child{display: none; opacity: 0;}
footer .footer-top .five.columns ul li a:hover span:last-child{display: block; opacity: 1;}
footer .footer-top .newsy .newsy-title{float:left; font-size:18px; width:100%; color:#fff; margin:0 0 10px 0; text-align:left;}
footer .footer-top .newsy .never-spam span{font-size:13px; line-height:16px; color:#959595; text-align:left;}
footer .footer-top .social{margin-top:33px;}
footer .footer-top .social ul{float:left; width:100%;}
footer .footer-top .social ul li{float:left; padding:5px 15px; border-right:1px solid rgba(255, 255, 255, 0.4); margin-top:8px; width:auto;}
footer .footer-top .social ul li:last-child{border-right:0;}
footer .footer-top .social ul li a{color:#fff}
footer .footer-top .social ul li a i{font-size:32px; line-height:32px; margin:0 5px;}
footer .footer-top .social ul li a:hover{color:rgba(255,255,255,.6);}

footer .footer-bottom{margin-top:55px;}
footer .footer-bottom ul li{display:inline; margin-right:20px; padding-bottom:5px;}
footer .footer-bottom ul li:last-child{margin-right:0;}
footer .footer-bottom ul li a{font-size:12px; line-height:16px; color:#959595; font-weight:100;}
footer .footer-bottom ul li a:hover{color:#fff;}
footer .footer-bottom .logo{text-align:center;}
footer .footer-bottom .copyright{text-align:right;}
footer .footer-bottom .copyright address{font-size:12px; line-height:16px; color:#959595; font-weight:100; font-style:normal;}

/* Pagination --------- */
.pagination{float:left; margin:30px 0;}
.pagination ul{float:left; width:100%;}
.pagination ul li{display:inline-block; float:left; text-align:center; color:#fff; font-weight:400; font-size:16px; padding:0 5px;}
.pagination ul li:first-child{padding-left:0;}
.pagination ul li span{padding:15px 20px 9px 20px; background:#3bc102; float:left;}
.pagination ul li a{padding:5px 15px; display:block; color: #fff; margin-top:10px;}
.pagination ul li a:hover{color:rgba(255,255,255,.6);}
.pagination ul li a.previous, .pagination ul li a.next{border:2px solid #404040; margin-top:0; display:block; width:50px; height:50px;}
.pagination ul li a.previous i, .pagination ul li a.next i{font-size: 22px; display:block; margin-top:6px;}



/* Sign In/Sign Up Pages --------- */
.sisu{min-height:800px;}
.sisu .wrapper{position:relative; float:left; width:100%; height:auto;}
.sisu main{margin-bottom:200px;}
.sisu main .form-container{width:400px; margin-top:9%; position:relative;}
.sisu main .form-container h1, .store-signup main .store-form-container h1{font-size:28px; line-height:32px; font-weight:100; width:100%; margin-bottom:60px; text-align:center;}
.sisu main .form-container ul, .store-signup main .store-form-container ul{float:left; width:100%;}
.sisu main .form-container ul li, .store-signup main .store-form-container ul li{position:relative; float:left; width:100%;}
.sisu main .form-container ul li label, .store-signup main .store-form-container form.icons ul li label{position:absolute; top:0; left:20px; z-index:1; padding-right:20px; border-right:2px solid #171717; padding-top:14px; height:55px;}
.sisu main .form-container ul li label i, .store-signup main .store-form-container form.icons ul li label i{color:#ccc; font-size:24px; line-height:24px;}
.sisu main .form-container ul li input, .store-signup main .store-form-container form.icons ul li input{padding-left:78px;}
.sisu main .form-container ul li button, .store-signup main .store-form-container ul li button{width:100%; margin-top:20px;}
.sisu main .forgot{margin-top:40px;}
.sisu main .forgot ul li{width:100%; margin-bottom:20px; text-align:center;}
.sisu main .forgot ul li a{font-size:14px; line-height:22px;}
.sisu footer, .store-signup footer{background:#1f1b1a; position:absolute; bottom:0; text-align:center; padding:20px 0; margin-top:0;}
.sisu footer img, .store-signup footer img{width:45px;}


/* Create Store Pages --------- */
.store-signup section{padding:0;}
.store-signup main{margin-bottom:100px;}
.store-signup main .store-form-container{margin-top:9%; position:relative;}
.store-signup main .store-form-container .paged ul{float:none; width:185px; margin:0 auto 50px auto;}
.store-signup main .store-form-container .paged ul li{float:left; width:auto; height:auto; text-align:center; margin:0 10px;}
.store-signup main .store-form-container .paged ul li span a{width:10px; height:10px; display:block; background:rgba(255,255,255,.4); float:none; margin:0 auto; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.store-signup main .store-form-container .paged ul li span a:hover{background:#fff;}
.store-signup main .store-form-container .paged ul li.current span a{background:#fff;}

.store-signup main .store-form-container form ul li{float:left; width:100%;}
.store-signup main .store-form-container form ul li a{display:block; text-align:center; margin-top:20px;}
.store-signup main .store-form-container form ul li label.forRadio, .store-signup main .store-form-container form ul li ol{float:left; width:100%;}
.store-signup main .store-form-container form ul li label.forRadio{text-align:left;}
.store-signup main .store-form-container form ul li ol{margin-left:0;}
.store-signup main .store-form-container form ul li ol li{width:100px;}
.store-signup main .store-form-container form ul li span{float:left; font-size:14px; line-height:16px; color:#959595; margin:16px 0 0 10px;}
.store-signup main .store-form-container form ul li span.tip{margin:-8px 0 0 0; font-size:24px; line-height:24px; position:relative; border:0; float:right;}
.store-signup main .store-form-container form ul li p{font-size:13px; line-height:16px; color:#959595; font-style:italic; margin-top:20px;}
.store-signup main .store-form-container form ul li .handle{margin-bottom:20px;}

.store-signup main .store-form-container form ul li.upload{margin-bottom:40px;}
.store-signup main .store-form-container form ul li.upload label{margin-bottom:30px;}
.store-signup main .store-form-container form ul li.upload a{margin-bottom:30px;}
.store-signup main .store-form-container form ul li.upload .cropped{margin-bottom:40px; text-align:center;}
.store-signup main .store-form-container form ul li.upload img{float:none; margin:0 auto;}
.store-signup main .store-form-container form ul li.upload input[type="file"]{width:100%;}

.store-signup main .store-form-container .prev-next{margin-top:60px;}
.store-signup main .store-form-container .prev-next ul{float:none; margin:50px auto 0 auto; width:240px;}
.store-signup main .store-form-container .prev-next ul li{float:left; width:46%;}
.store-signup main .store-form-container .prev-next ul li:first-child{margin-right:4%;}
.store-signup main .store-form-container .prev-next ul li a{display:inline-block; text-align:center;}
.store-signup main .store-form-container .prev-next.final ul{width:346px;}
.store-signup main .store-form-container .prev-next.final ul li:first-child{margin-right:20px; width:106px;}
.store-signup main .store-form-container .prev-next.final ul li:last-child{width:220px;}

.store-signup main .store-form-container .terms ul{float:none; width:400px; margin:80px auto;}
.store-signup main .store-form-container .terms ul li{float:left; width:auto; text-align:center; margin:0 10px;}
.store-signup main .store-form-container .terms ul li span{width:6px; height:6px; display:block; background:#959595; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin-top:11px;}
.store-signup main .store-form-container .terms ul li a{font-size:13px; line-height:16px; color:#959595;}
.store-signup main .store-form-container .terms ul li a:hover{color:#fff;}

.store-signup main .store-form-container .disclaimer p{display:block; width:100%; text-align:center; color:#959595; font-size:13px; line-height:16px; margin-top:10px; margin-bottom:300px;}

.store-signup main .store-form-container .payments{text-align:center; padding:40px 0; margin-bottom:40px; background: #3bc102; /* Old browsers */ background: -moz-linear-gradient(-45deg,  #3bc102 0%, #2c7100 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3bc102), color-stop(100%,#2c7100)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(-45deg,  #3bc102 0%,#2c7100 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg,  #3bc102 0%,#2c7100 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg,  #3bc102 0%,#2c7100 100%); /* IE10+ */ background: linear-gradient(135deg,  #3bc102 0%,#2c7100 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bc102', endColorstr='#2c7100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.store-signup main .store-form-container .tutorial{text-align:left; margin-bottom:40px;}
.store-signup main .store-form-container .tutorial img{box-shadow:0 2px 20px #404040; margin:30px 0;}
.store-signup main .store-form-container .tutorial h2{font-size:20px; line-height:24px; color:#fff; font-weight:400;}
.store-signup main .store-form-container .tutorial h3{font-size:18px; line-height:24px; color:#ccc; font-weight:400;}
.store-signup main .store-form-container .tutorial p{font-size:14px; line-height:22px; font-style:normal; font-weight:300; color:#959595;}


/* --- Begin Page Styling --- */

/* Forgot Password Page --------- */
.forgot main .form-container ul li input{padding-left:20px;}


/* Account - General --------- */
@-webkit-keyframes cloudLoop{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}}
@keyframes cloudLoop{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0)}}

.account main{margin-top:-161px;}
.account .feature{background-image:url('../img/account-feature-bg.jpg'); padding:161px 0 150px 0; background-repeat:no-repeat; background-position:top center; background-size:cover; overflow:hidden; position:relative; z-index:2;}
.account .feature .profileInfo{padding-top:150px; border-top:1px solid rgba(255,255,255,.6); position:relative; z-index:3;}
.account .feature .clouds{position: absolute; z-index: 1; top: 0; left: 0; width: 250.625em; height: 43.75em; -webkit-animation: cloudLoop 80s linear infinite; animation: cloudLoop 80s linear infinite;}
.account .feature h1{font-size:40px; line-height:40px; text-align:left;}
.account .feature .profileInfo .userAvatar{position:relative;}
.account .feature .profileInfo .userAvatar img{-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; position:relative; z-index:98;}
.account .feature .profileInfo .userAvatar span{position:absolute; bottom:0; right:10%; z-index:99; text-align:center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background:#fff; width:35px; height:35px; overflow:hidden;}
.account .feature .profileInfo .userAvatar span i{color:#171717; font-size:20px; display:block; margin-top:2px;}
.account .feature .profileInfo .userData .userName{margin-bottom:10px;}
.account .feature .profileInfo .userData .userEmail{margin-bottom:15px;}
.account .feature .profileInfo .userData .userEmail span{color:#fff; margin-right:5px;}
.account .feature .profileInfo .userData ul{width:100%;}
.account .feature .profileInfo .userData ul li{float:left; cursor:pointer; margin-right:17px;}
.account .feature .profileInfo .userData ul li:last-child{margin-right:0;}
.account .feature .profileInfo .userData ul li a{display:inline-block; color:#fff;}

.account .subFeature{padding-top:80px;}
.account .subFeature .sidebar .createStore{margin-bottom:35px;}
.account .subFeature .sidebar .createStore ul{float:left; width:100%;}
.account .subFeature .sidebar .createStore ul li{float:left; width:100%; padding-right:10px; margin-bottom:30px;}
.account .subFeature .sidebar .createStore ul li:last-child{margin-bottom:0;}
.account .subFeature .sidebar .createStore ul li a{display:inline-block; color:#fff;}
.account .subFeature .sidebar .navTitle{margin-bottom:20px;}
.account .subFeature .sidebar .navTitle h2{font-size:18px; color:#fff; line-height:20px; text-align:left;}
.account .subFeature .sidebar .navigation ul{float:left; width:100%;}
.account .subFeature .sidebar .navigation ul li{float:left; width:100%; max-width:300px; border-bottom:2px solid #404040; padding:25px 0;}
.account .subFeature .sidebar .navigation ul li:last-child{border-bottom:0;}
.account .subFeature .sidebar .navigation ul li a{font-size:14px; line-height:22px; color:#959595;}
.account .subFeature .sidebar .navigation ul li a:hover{color:#fff;}
.account .subFeature .sidebar .navigation ul li a i{float:right; font-size:20px;}
.account .subFeature .sidebar .storeNav{margin-top:40px;}

.account .subFeature .page-title{margin-bottom:30px;}
.account .subFeature .page-title h1{text-align:left; color:#fff; font-size:32px;}
.account .subFeature .page-title ul{float:left; width:100%;}
.account .subFeature .page-title ul li{float:right; margin-right:20px;}
.account .subFeature .page-title ul li:first-child{margin-right:0;}
.account .subFeature .page-title ul li a{display:inline-block; color:#fff;}
.account .subFeature .page-title ul li a i{font-size:20px;}


/* Account - Dashboard --------- */
.account .subFeature .main-content .container{margin:0 2%; text-align:center; box-shadow:0px 2px 5px #000; width:46%; padding:65px 0 0 0; background: #2c7100; /* Old browsers */ background: -moz-linear-gradient(45deg,  #2c7100 0%, #3bc102 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2c7100), color-stop(100%,#3bc102)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(45deg,  #2c7100 0%,#3bc102 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(45deg,  #2c7100 0%,#3bc102 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(45deg,  #2c7100 0%,#3bc102 100%); /* IE10+ */ background: linear-gradient(45deg,  #2c7100 0%,#3bc102 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7100', endColorstr='#3bc102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.account .subFeature .main-content .container .promo{background:#f4f4f4; margin-top:65px; padding:30px 0.9375rem;}
.account .subFeature .main-content .container .promo p{font-size:13px; line-height:21px; color:#171717; text-transform:uppercase; font-weight:600;}
.account .subFeature .main-content .container .promo p a{color:#2c7100;}
.account .subFeature .main-content .container .promo p a:hover{color:#3bc102;}
.account .subFeature .main-content .container .sectionName i{font-size:32px; color:#fff; margin-bottom:20px; display:block;}
.account .subFeature .main-content .container .sectionName h2{font-size:24px; line-height:24px; color:#fff; font-weight:500; margin-bottom:40px;}
.account .subFeature .main-content .container .sectionLinks ul{float:left; width:100%;}
.account .subFeature .main-content .container .sectionLinks ul li{float:left; width:25%;}
.account .subFeature .main-content .container .sectionLinks ul li a i{font-size:28px;}


/* Account - Profile --------- */
.edit-profile main .profileForm ul{float:left; width:100%;}
.edit-profile main .profileForm ul li{float:left; width:100%;}
.edit-profile main .profileForm .avatar{margin-top:15px;}
.edit-profile main .profileForm .avatar label{width:25%; float:left;}
.edit-profile main .profileForm .avatar label img{-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.edit-profile main .profileForm .avatar input[type="file"]{width:50%; float:left; margin:26px 0 0 20px;}


/* Account - Order View --------- */
.order .main-content .order-details .intro{border-bottom:1px solid #404040; padding-bottom:30px; margin-bottom:30px;}
.order .main-content .order-details .intro h2{font-size:18px; color:#fff; text-align:left; font-weight:400; margin-bottom:10px;}
.order .main-content .order-details .intro p{font-size:14px; line-height:22px; color:#959595;}
.order .main-content .order-details .intro p span{color:#fff;}
.order .main-content .order-details .shipping-container{margin:0 2%; width:46%; min-height:220px; margin-bottom:30px;}
.order .main-content .order-details .shipping-container h3{font-size:18px; color:#fff; font-weight:400; margin-bottom:20px;}
.order .main-content .order-details .shipping-container ul{float:left; width:100%;}
.order .main-content .order-details .shipping-container ul li{float:left; width:100%; margin-bottom:10px;}
.order .main-content .order-details .shipping-container ul li p{font-size:14px; line-height:22px; color:#959595;}
.order .main-content .order-details .shipping-container ul li p span{color:#fff;}

.order .main-content .order-totals{margin-top:40px;}
.order .main-content .order-totals ul{float:right;}
.order .main-content .order-totals ul li{float:left; width:100%; margin-bottom:10px;}
.order .main-content .order-totals ul li span.amount-label, .order .main-content .order-totals ul li span.amount{font-size:16px; line-height:24px; color:#fff; float:right;}
.order .main-content .order-totals ul li span.amount{color:#959595; margin-left:40px; min-width:100px; text-align:right;}
.order .main-content .order-totals ul li span.grand.amount-label, .order .main-content .order-totals ul li span.grand.amount{margin-top:50px;}
.order .main-content .order-totals ul li span.grand.amount{font-size:36px; font-weight:600; color:#3bc102;}


/* PDP --------- */
.pdp .site-search{box-shadow:0 1px 2px rgba(0,0,0,.6);}
.pdp .product-wrap .product-images, .pdp .product-wrap .product-info{min-height:800px; margin-top:40px;}
.pdp .product-wrap .product-images ul li{margin-right:0; margin-bottom:40px;}








































