/* --- Begin Global Styling --- */


/* General -------- */
body.forge{background:#fff;}
body.forge section{padding:0;}
body.forge header{margin:0;}
body.forge h1, h2, h3, h4, h5, h6{color:#576474;}
p{color:#071932;}
a{color:#3a9cff;}
a:hover{opacity:.6;}


/* Form Elements -------- */

/* Default Button State -------- */
.btn{font-size:14px; line-height:22px; color:#9098a3; border-radius:50px; cursor:pointer; font-weight:300; letter-spacing:2px; background:transparent; text-transform:uppercase; padding:8px 20px; margin-bottom:0; text-shadow:none; -webkit-transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); -moz-transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); transition:all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);}
.btn:hover{background:none; color:#9098a3; -webkit-transform: scale(1.1) translateZ(0); -moz-transform: scale(1.1) translateZ(0); -ms-transform: scale(1.1) translateZ(0); -o-transform: scale(1.1) translateZ(0); transform: scale(1.1) translateZ(0);}

/* Secondary Transparent Button State -------- */
.btn.trans{border:2px solid #9098a3;}

/* Input -------- */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
    background:#483f3e; display:block; width:100%; height:55px; padding:12px 17px 13px; font-size:14px; line-height:22px; color:#ccc; border:0;
}
input[type="file"]{color:transparent; text-align:center; height:42px; width:auto;}
input[type="file"]::-webkit-file-upload-button{visibility:hidden;}
input[type="file"]::before{content:'Upload an Image'; display:block; color:#ccc; max-width:155px; margin:0 auto; float:none;}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus{
    color:#666;
}



/* Global Blocks -------- */

/* Sidebar -------- */
.forge .sidebar{background:#071b35; width:14.422%; height:115%; position:fixed; top:0; bottom:0; padding:0;}
.forge .sidebar .store-details{padding:40px 0 20px 0; border-bottom:1px solid rgba(255,255,255,.3);}
.forge .sidebar .store-details .user-avatar{position:relative; width:80px; height:80px; margin:0 auto; float:none;}
.forge .sidebar .store-details .user-avatar img{width:80px; height:80px; display:block; margin:0 auto; border:3px solid rgba(255,255,255,.4); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.forge .sidebar .store-details .user-avatar a.logout{background:#f4f4f4; text-align:center; position:absolute; bottom:0; right:0; width:24px; height:24px; display:block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.forge .sidebar .store-details .user-avatar a.logout i{margin-left:1px; color:#171717;}
.forge .sidebar .store-details .user{margin-top:15px;}
.forge .sidebar .store-details .user span{color:#9098a3; display:block; width:100%; font-size:14px; line-height:22px; text-align:center; margin-bottom:10px; overflow:hidden; float:left; white-space:nowrap; text-overflow:ellipsis;}
.forge .sidebar .store-details .user span:last-child{margin-bottom:0; font-style:italic; color:#fff; font-weight:100;}
.forge .sidebar .forgeNav nav{padding:30px 0; float:left; width:100%; border-bottom:1px solid rgba(255,255,255,.3);}
.forge .sidebar .forgeNav nav ul{float:left; width:100%;}
.forge .sidebar .forgeNav nav ul li{float:left; width:100%; padding:10px 0.9375rem; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;}
.forge .sidebar .forgeNav nav ul li:hover{background:rgba(0,0,0,0.4);}
.forge .sidebar .forgeNav nav ul li a{color:#9098a3; font-size:16px; line-height:24px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; width:100%;}
.forge .sidebar .forgeNav nav ul li a:hover{color:#27e9ff;}
.forge .sidebar .forgeNav nav ul li a i{float:left; font-size:24px; color:#fff;}
.forge .sidebar .forgeNav nav ul li a span{float:left; margin:3px 0 0 10px;}
.forge .sidebar .forgeNav nav ul li a .store-avatar{float:left; text-align:center; width:32px; height:32px; background-color: #6a35c8; background-image: -webkit-linear-gradient(#6a35c8, #27e9ff); background-image: linear-gradient(#6a35c8, #27e9ff); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.forge .sidebar .forgeNav nav ul li a .store-avatar i{color:#fff; float:none; display:block; font-size:20px; line-height:20px; margin:5px 0 0 2px;}
.forge .sidebar .forgeNav nav ul li h3{color:#fff; font-size:14px; line-height:22px; text-transform:uppercase;}
.forge .sidebar .forgeNav .settings ul li:first-child:hover{background:none;}

.forge .sidebar .forgeNav nav ul li a.logout::before{content:'\f19b'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.dashboard::before{content:'\f156'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.orders::before{content:'\f1b1'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.products::before{content:'\f19e'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.setting::before{content:'\f214'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.policies::before{content:'\f128'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.payment::before{content:'\f135'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.base::before{content:'\f11d'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}
.forge .sidebar .forgeNav nav ul li a.help::before{content:'\f163'; font-family:'foundation-icons'; font-size:24px; margin-right:15px; float:left; margin-top:1px;}


/* Pagination --------- */
.pagination ul li{color:#9098a3;}
.pagination ul li:first-child{padding-left:0;}
.pagination ul li span{color:#fff; background-color: #6a35c8; background-image: -webkit-linear-gradient(#6a35c8, #27e9ff); background-image: linear-gradient(#6a35c8, #27e9ff); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}
.pagination ul li a{color: #9098a3;}
.pagination ul li a:hover{color:#9098a3;}
.pagination ul li a.previous, .pagination ul li a.next{border:2px solid #9098a3; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;}


/* Tables --------- */
.table{background:#fff;}
.table thead{background:#e8ebf1;}
.table thead tr th{padding:20px 10px; color:#576474; font-weight:600;}
.table tbody{background:#fff;}
.table tbody tr:nth-of-type(even){background:#fff;}
.table tbody tr:hover{background:rgba(255,255,255,.1);}
.table tbody tr:hover td{color:#576474;}
.table tbody tr td{border-bottom:1px solid #e8ebf1; color:#576474;}
.table tbody tr td a{color:#6a35c8;}
.table tbody tr td a:hover{color:#27e9ff;}
.table tbody tr td img{-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; margin-right:15px;}


/* Main Content -------- */
.forge .content{min-height:655px; height:100%; width:85.578%; padding:80px 30px 30px 30px;}

.forge .content .forge-header{margin-bottom:30px;}
.forge .content .forge-header h1{font-size:40px; line-height:42px; font-weight:300; text-align:left;}
.forge .content .forge-header .ctas ul li{float:right;}
.forge .content .forge-header .ctas ul li a i{font-size:22px;}


/* Individual Pages -------- */

/* Orders -------- */
.orders .content .pulse{background:#e8ebf1; padding:20px;}
.orders .content .pulse .stats{background:#fff; text-align:center; padding:20px 0; margin:0 2%; width:29.3%;}
.orders .content .pulse .stats p{font-size:28px; font-weight:600; margin-bottom:10px;}








































