<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Product at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="pdp">
    <div class="menus off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
          
          <header>
              <nav class="pri-nav">
                  <div class="small-4 browse columns">
                    <a class="left-off-canvas-toggle" href="#">
                        <i class="fi-list"></i>
                        <span>Browse</span>
                    </a>
                  </div>

                  <div class="small-4 logo columns">
                    <h1>
                        <a href="#">
                            <img src="../../img/zerobars-logo-white.png" alt="ZeroBars Home">
                        </a>  
                    </h1>
                  </div>

                  <div class="small-4 cart columns">
                      <ul>
                          <li>
                              <a class="right-off-canvas-toggle cart-icon" href="#">
                                  <i class="fi-shopping-bag"></i>
                                  <span class="count">2</span>
                              </a>
                          </li>
                          <li class="show-for-medium-up">
                            <span class="sep">|</span>
                          </li>
                          <li class="show-for-medium-up">
                              <a class="btn trans signin" data-reveal-id="signin" href="#">
                                  Sign In
                              </a>
                              <a class="btn trans register" data-reveal-id="register" href="#">
                                  Register
                              </a>
                          </li>
                      </ul>
                  </div>
                  
                  <div class="site-search small-12 columns">
                      <form>
                          <ul>
                              <li class="small-9">
                                  <input type="search" placeholder="Search for something">
                              </li>
                              <li class="small-3">
                                  <button>
                                      <i class="fi-magnifying-glass"></i>
                                  </button>
                              </li>
                          </ul>
                      </form>
                  </div>
              </nav>
          </header>

          <aside class="left-off-canvas-menu priNav">
              <div class="row"> 
                  <nav>
                      <div class="exit">
                          <a class="exit-off-canvas"><i class="fi-x"></i></a>
                      </div>
                      <ul class="nav-area categories">
                          <li>
                              <a class="level-1" href="#">New</a>
                          </li>
                          <li>
                              <a class="level-1" href="#">Fishing</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Fishing</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Hunting</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Hunting</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Camp &amp; Hike</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Camp &amp; Hike</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Shooting</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Shooting</a>
                                  </li>
                              </ol>
                          </li>
                      </ul>
                      <ul class="nav-area account">
                          <li>
                              <a href="">Sign In</a>
                          </li>
                          <li>
                              <a href="">Register</a>
                          </li>
                          <li>
                              <a href="">Help</a>
                          </li>
                      </ul>
                      <ul class="nav-area other">
                          <li>
                              <a href="">About</a>
                          </li>
                          <li>
                              <a href="">Blog</a>
                          </li>
                          <li>
                              <a href="">Basecamp</a>
                          </li>
                          <li>
                              <a href="">Support</a>
                          </li>
                      </ul>
                      <ul class="nav-area social">
                          <li><a href=""><i class="fi-social-twitter"></i></a></li>
                          <li><a href=""><i class="fi-social-facebook"></i></a></li>
                          <li><a href=""><i class="fi-social-pinterest"></i></a></li>
                      </ul>
                  </nav>
              </div>
          </aside>

          <aside class="right-off-canvas-menu cart">
              <div class="row">
                  <form class="cart-form small-12">
                      <section class="cart-header small-12">
                          <a class="exit-off-canvas"><i class="fi-x"></i></a>
                          <h1>Your Cart</h1>
                      </section>
                      <section class="cart-items small-12">
                          <div class="container small-12">
                              <ul class="items small-12">
                                  
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  
                              </ul>
                          </div>
                      </section>
                      <section class="sub-totals small-12">
                          <div class="small-6">
                              <ul>
                                  <li>
                                      <span>Subtotal</span>
                                  </li>
                                  <li>
                                      <span>Shipping</span>
                                  </li>
                                  <li>
                                      <span>Tax</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="small-6 cost">
                              <ul>
                                  <li>
                                      <span>$196.00</span>
                                  </li>
                                  <li>
                                      <span>$10.00</span>
                                  </li>
                                  <li>
                                      <span>$1.37</span>
                                  </li>
                              </ul>
                          </div>
                      </section>
                      <section class="total small-12">
                          <div class="small-6">
                              <span>Total</span>
                          </div>
                          <div class="small-6 final">
                              <span>$207.37</span>
                          </div>
                      </section>
                      <section class="checkout small-12">
                          <button class="btn green" type="submit">Checkout</button>
                      </section>
                  </form>
              </div>
          </aside>

          <main class="main-section">
              <div class="product-wrap small-12">
                  <section class="crumbs small-12 columns">
                      <div class="row">
                          <ul class="columns">
                              <li>
                                 <a href="#"><i class="fi-home"></i></a>
                              </li>
                              <li><span>/</span></li>
                              <li>
                                 <a href="#">Shop</i></a>
                              </li>
                              <li><span>/</span></li>
                              <li>
                                 <a href="#">Hunting</a>
                              </li>
                              <li><span>/</span></li>
                              <li>
                                 <a href="#">Game Calls</a>
                              </li>
                              <li><span>/</span></li>
                              <li>
                                 <a href="#">Turkey Calls</a>
                              </li>
                              <li><span>/</span></li>
                              <li>
                                 <a href="#">Mouth Calls</a>
                              </li>
                          </ul>
                      </div>
                  </section>
                  <section class="theProd">
                      <div class="row">
                          <section class="product-info small-12 medium-5 columns">
                              <div class="seller-social small-12 medium-10 columns">
                                  <div class="seller-shop small-12">
                                      <div class="top small-12">
                                          <img class="round" src="../../img/default-store-logo.png">
                                          <h2>AwesomeSauce</h2>
                                          <a class="btn trans" href="mailto:support@awesomesauce.com">Ask a Question</a>
                                      </div>
                                  </div>
                              </div>
                              <div class="prod-name small-12 columns">
                                  <!--<span class="seller"><a href="#">AwesomeSauce</a></span>-->
                                  <h1>Sample Turkey Mouth Call - Blue</h1>
                                  <ul>
                                      <li>
                                          <p class="price">$98.35</p>
                                      </li>
                                      <li>
                                          <span class="sep">|</span>
                                      </li>
                                      <li>
                                          <p class="shipping">Shipping: $10.00</p>
                                      </li>
                                  </ul>
                              </div>
                              <div class="color small-12 medium-10 columns">
                                  <p><span>Color:</span> Blue</p>
                              </div>
                              <div class="availability small-12 medium-10 columns">
                                  <p><span>Availability:</span> In Stock</p>
                              </div>
                              <div class="a2c small-12 medium-10 columns">
                                  <form>
                                      <ul>
                                          <li>
                                              <select class="larger">
                                                  <option selected="selected">Select Quantity</option>
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                                  <option value="6">6</option>
                                                  <option value="7">7</option>
                                                  <option value="8">8</option>
                                                  <option value="9">9</option>
                                                  <option value="10">10</option>
                                                  <option value="11">11</option>
                                                  <option value="12">12</option>
                                                  <option value="13">13</option>
                                                  <option value="14">14</option>
                                                  <option value="15">15</option>
                                                  <option value="16">16</option>
                                                  <option value="17">17</option>
                                                  <option value="18">18</option>
                                                  <option value="19">19</option>
                                                  <option value="20">20</option>
                                              </select>
                                          </li>
                                          <li>
                                              <button class="btn green" type="submit">Add to Cart</button>
                                          </li>
                                      </ul>
                                  </form>
                              </div>
                              <div class="overview small-12 medium-10 columns">
                                  <h2>Details:</h2>
                                  <ul>
                                      <li>
                                          <p>Handmade Item</p>
                                      </li>
                                      <li>
                                          <p><span>Materials:</span> leather, brass, elastic, beeswax</p>
                                      </li>
                                      <li>
                                          <p>Made to Order</p>
                                      </li>
                                      <li>
                                          <p>Ships worldwide from the United States</p>
                                      </li>
                                  </ul>
                              </div>
                          </section>
                          <section class="product-images small-12 medium-6">
                              <img class="primary" src="../../img/sample-product-image.jpg">
                              <div class="thumbs small-12 columns">
                                  <ul class="clearing-thumbs" data-clearing>
                                      <li class="medium-1">
                                          <a href="../../img/sample-product-image.jpg">
                                              <img class="round" src="../../img/sample-product-image.jpg">
                                          </a>
                                      </li>
                                      <li class="medium-1">
                                          <a href="../../img/sample-product-image.jpg">
                                              <img class="round" src="../../img/sample-product-image.jpg">
                                          </a>
                                      </li>
                                      <li class="medium-1">
                                          <a href="../../img/sample-product-image.jpg">
                                              <img class="round" src="../../img/sample-product-image.jpg">
                                          </a>
                                      </li>
                                      <li class="medium-1">
                                          <a href="../../img/sample-product-image.jpg">
                                              <img class="round" src="../../img/sample-product-image.jpg">
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </section>
                      </div>
                  </section>
                  
                  <section class="know small-12">
                      <div class="row">
                          <div class="tab-nav small-12">
                                <ul class="tabs flex justify-center" data-tab>
                                    <li class="small-6 medium-2">
                                        <a class="tab-link active" href="#panel1">More Details</a>
                                    </li>
                                    <li class="small-6 medium-2">
                                        <a class="tab-link" href="#panel2">Shipping &amp; Returns</a>
                                    </li>
                                </ul>
                          </div>
                          <div class="tabs-content small-12">
                              <div class="content active small-12 medium-6 small-centered columns" id="panel1">
                                  <p>An all natural cat collar made with beautiful, cognac colored leather. 
                                      The leather is hand-cut, hand-stamped, edged, and burnished with 100% beeswax. 
                                      The collar is made with sturdy brass rivets and a matching buckle. We’ve included a 
                                      small elastic strip in the collar next to the buckle, making it easy for your cat to 
                                      escape tricky situations. The elastic is riveted in and should only stretch or break 
                                      in emergencies. Collars are treated with a pine and beeswax conditioner and water-proofer. 
                                      The leather will age and wear in beautifully with use.</p>
                                  <p>This collar should fit the average cat. If you are looking for a specific size, please 
                                      see our custom cat collar here!</p>
                              </div>
                              <div class="content small-12 medium-6 small-centered columns" id="panel2">
                                  <p>All orders are completed and shipped within 3 weeks of purchase, with the exception of 
                                      custom orders where we determine the production time based on each order. If you need 
                                      your item by a certain date, please let us know. We make every effort to complete orders 
                                      in a timely manner and can accommodate most timelines.</p>
                                  <p>We ship via USPS Priority Mail*. This allows us to give you tracking information and to 
                                      have insurance on your item. Our shipping prices reflect either USPS Priority flat rate 
                                      box prices, or what has been estimated using the USPS online shipping calculator.</p>
                                  <p>*All items ship Priority EXCLUDING the Custom pet tag and the 1 lb and 5 lb leather scraps, 
                                      which ship USPS First Class due to the size and weight of the item.</p>
                                  <p>All orders are final sale. Please read the product description very carefully to be sure you 
                                      understand the item you are purchasing. We are happy to answer any questions about the 
                                      item prior to purchasing.</p>
                                  <p>That being said, we strive for 100% satisfaction for each of our customers. If you are 
                                      unhappy with the product, please contact us within 15 days of receiving the item and we 
                                      will do our best to fix the situation. We put a lot of time and heart into each one of 
                                      our products and we want you to love it as much as we do. Please note that if you do not 
                                      contact us within 15 days, we will no longer be able to exchange or change the item.</p>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="meet small-12">
                      <div class="row">
                          <div class="shop-info small-12 medium-9 small-centered columns">
                              <div class="section-title small-12">
                                  <h2>More About the Seller</h2>
                              </div>
                              <div class="small-12 medium-8 seller-social">
                                  <div class="logo small-12 medium-2">
                                      <a href="#">
                                          <img class="round" src="../../img/default-store-logo.png" alt="AwesomeSauce">
                                      </a>
                                  </div>
                                  <div class="small-12 medium-10">
                                      <h3 class="small-12">AwesomeSauce</h3>
                                      <ul class="small-12">
                                         <li>
                                            <a href="#" class="btn trans" title="AwesomeSauce's Shop"><i class="fi-home"></i></a>  
                                         </li>
                                         <li>
                                            <a href="#" class="btn trans" title="AwesomeSauce's Products"><i class="fi-pricetag-multiple"></i></a>  
                                         </li>
                                          <li>
                                             <a href="#" class="btn trans" title="AwesomeSauce's Policies"><i class="fi-clipboard-notes"></i></a>  
                                          </li>
                                          <li>
                                              <a href="#" class="btn trans" title="AwesomeSauce's Twitter Page"><i class="fi-social-twitter"></i></a>
                                          </li>
                                          <li>
                                              <a href="#" class="btn trans" title="AwesomeSauce's Facebook Page"><i class="fi-social-facebook"></i></a>
                                          </li>
                                          <li>
                                              <a href="#" class="btn trans" title="AwesomeSauce's Website"><i class="fi-layout"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="small-12 medium-4">
                                  <div class="total small-8 columns">
                                      <div class="wrapper small-12">
                                            <p>12</p>
                                            <span>total products</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="shop-products medium-9 small-centered columns">
                              <div class="gridit small-12">

                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                                  <figure class="seller-item small-12 medium-3 columns">
                                      <a href="#">
                                          <img src="../../img/sample-product-image.jpg">
                                         <div class="details">
                                             <span class="seller-name text-overflow small-12">AwesomeSauce</span>
                                             <h2 class="text-overflow small-12">Sample Turkey Mouth Call - Blue</h2>
                                             <p class="price text-overflow small-12">$98.35</p>
                                          </div>
                                      </a>
                                  </figure>
                              </div>
                          </div>
                      </div>
                  </section>
                  <section class="fine-print">
                      <div class="row">
                          <div class="small-12 small-centered medium-8 columns">
                              <div class="section-title small-12">
                                  <h2>The Fine Print</h2>
                              </div>
                              <div class="section-content small-12">
                                  <p>ZeroBars is not the seller of this product. All products listed within the ZeroBars Marketplace 
                                      are sold and represented by independant businesses or individuals. If a product is being 
                                      misrepresented, please contact the individual seller to resolve any and/or all discrepencies.</p>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </main>
          
          <footer>
            <div class="row">
                <a class="reg btn green small-4 small-centered columns" data-reveal-id="register" href="#">Account Signup</a>
                <div class="left small-12 medium-4 columns">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fi-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fi-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fi-social-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="middle small-12 medium-4 columns">
                    <div class="pri small-12">
                        <ul class="flex justify-center">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <p>&#8226;</p>
                            </li>
                            <li>
                                <a href="#">
                                    Sellers
                                </a>
                            </li>
                            <li>
                                <p>&#8226;</p>
                            </li>
                            <li>
                                <a href="#">
                                    Shop
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sec small-12">
                        <ul class="help flex justify-center">
                            <li>
                                <a href="#">Help Center</a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copy small-12">
                        <p>&copy; 2015 Nyne20, LLC. All rights reserved.</p>
                        <ul class="policies flex justify-center">
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Policies
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right small-12 medium-4 columns">
                    <ul>
                        <li>
                            <a href="">
                                <img src="../../img/basecamp-logo-footer.png" alt="Basecamp">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../img/forge-logo-footer.png" alt="Forge">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
          
        <div id="signin" class="reveal-modal signin userModal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="bg-image-holder small-12" style="opacity:.9; background:url('../../img/signin-modal-bg.png') 50% 0% / cover;">
                <img src="../../img/signin-modal-bg.png" style="display:none;">
            </div>
            <div class="form-wrap small-12 small-centered large-centered medium-6 large-4 columns">
                <h2>Sign in to continue</h2>
                <form class="small-12 small-centered columns">
                    <ul>
                        <li>
                            <label><i class="fi-mail"></i></label>
                            <input type="email" placeholder="Email" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-torso"></i></label>
                            <input type="password" placeholder="Password" autocomplete="off">
                        </li>
                        <li>
                            <button type="submit" class="btn trans">Login</button>
                        </li>
                    </ul>
                </form>
                <div class="forgot small-12 columns">
                    <ul>
                        <li>
                            <a href="../account/create.html">Create an account</a>
                        </li>
                        <li>
                            <a href="../account/forgot.html">I've forgotten my password</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="close-reveal-modal" aria-label="Close"><i class="fi-x"></i></a>
        </div>

        <div id="register" class="reveal-modal register userModal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="bg-image-holder small-12" style="opacity:.9; background:url('../../img/signin-modal-bg.png') 50% 0% / cover;">
                <img src="../../img/signin-modal-bg.png" style="display:none;">
            </div>
            <div class="form-wrap small-12 small-centered large-centered medium-6 large-4 columns">
                <h2>Create an Account</h2>
                <form class="small-12 small-centered columns">
                    <ul>
                        <li>
                            <label><i class="fi-torso"></i></label>
                            <input type="text" placeholder="First Name" autocomplete="off">
                        </li>
                         <li>
                            <label><i class="fi-torso"></i></label>
                            <input type="text" placeholder="Last Name" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-mail"></i></label>
                            <input type="email" placeholder="Email" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-key"></i></label>
                            <input type="password" placeholder="Password" autocomplete="off">
                        </li>
                        <li>
                            <button type="submit" class="btn trans">Login</button>
                        </li>
                    </ul>
                </form>
            </div>
            <a class="close-reveal-modal" aria-label="Close"><i class="fi-x"></i></a>
        </div>
          
        <a class="exit-off-canvas"></a>

      </div>
    </div>
    
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script src="../../js/foundation/foundation.offcanvas.js"></script>
    <script src="../../js/foundation/foundation.reveal.js"></script>
    
    <!-- Custom Scripts -->
    <script src="../../js/foundation/foundation.tab.js"></script>
    
    <script>
        $(document).foundation();
        $(document).ready(function() {
            $('.tab-link').on('click', function(){
                $('.tab-link').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    
</body>
</html>