<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Product at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="product">
    <div class="menus off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
          
          <header>
              <nav class="pri-nav">
                  <div class="small-4 browse columns">
                    <a class="left-off-canvas-toggle" href="#">
                        <i class="fi-list"></i>
                        <span>Browse</span>
                    </a>
                  </div>

                  <div class="small-4 logo columns">
                    <h1>
                        <a href="#">
                            <img src="../../img/zerobars-logo-white.png" alt="ZeroBars Home">
                        </a>  
                    </h1>
                  </div>

                  <div class="small-4 cart columns">
                      <ul>
                          <li>
                              <a class="right-off-canvas-toggle cart-icon" href="#">
                                  <i class="fi-shopping-bag"></i>
                                  <span class="count">2</span>
                              </a>
                          </li>
                          <li class="show-for-medium-up">
                            <span class="sep">|</span>
                          </li>
                          <li class="show-for-medium-up">
                              <a class="btn trans signin" data-reveal-id="signin" href="#">
                                  Sign In
                              </a>
                              <a class="btn trans register" data-reveal-id="register" href="#">
                                  Register
                              </a>
                          </li>
                      </ul>
                  </div>
                  
                  <div class="site-search small-12 columns">
                      <form>
                          <ul>
                              <li class="small-9">
                                  <input type="search" placeholder="Search for something">
                              </li>
                              <li class="small-3">
                                  <button>
                                      <i class="fi-magnifying-glass"></i>
                                  </button>
                              </li>
                          </ul>
                      </form>
                  </div>
              </nav>
          </header>

          <aside class="left-off-canvas-menu priNav">
              <div class="row"> 
                  <nav>
                      <div class="exit">
                          <a class="exit-off-canvas"><i class="fi-x"></i></a>
                      </div>
                      <ul class="nav-area categories">
                          <li>
                              <a class="level-1" href="#">New</a>
                          </li>
                          <li>
                              <a class="level-1" href="#">Fishing</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Fishing</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Hunting</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Hunting</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Camp &amp; Hike</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Camp &amp; Hike</a>
                                  </li>
                              </ol>
                          </li>
                          <li>
                              <a class="level-1" href="#">Shooting</a>
                              <ol>
                                  <li class="has-submenu">
                                      <a class="level-2" href="#">Lorem</a>
                                      <ul class="left-submenu">
                                          <li class="back"><a href="#">Back</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                          <li><a href="#">Lorem</a></li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">Lorem</a>
                                  </li>
                                  <li>
                                      <a class="level-2" href="#">All Shooting</a>
                                  </li>
                              </ol>
                          </li>
                      </ul>
                      <ul class="nav-area account">
                          <li>
                              <a href="">Sign In</a>
                          </li>
                          <li>
                              <a href="">Register</a>
                          </li>
                          <li>
                              <a href="">Help</a>
                          </li>
                      </ul>
                      <ul class="nav-area other">
                          <li>
                              <a href="">About</a>
                          </li>
                          <li>
                              <a href="">Blog</a>
                          </li>
                          <li>
                              <a href="">Basecamp</a>
                          </li>
                          <li>
                              <a href="">Support</a>
                          </li>
                      </ul>
                      <ul class="nav-area social">
                          <li><a href=""><i class="fi-social-twitter"></i></a></li>
                          <li><a href=""><i class="fi-social-facebook"></i></a></li>
                          <li><a href=""><i class="fi-social-pinterest"></i></a></li>
                      </ul>
                  </nav>
              </div>
          </aside>

          <aside class="right-off-canvas-menu cart">
              <div class="row">
                  <form class="cart-form small-12">
                      <section class="cart-header small-12">
                          <a class="exit-off-canvas"><i class="fi-x"></i></a>
                          <h1>Your Cart</h1>
                      </section>
                      <section class="cart-items small-12">
                          <div class="container small-12">
                              <ul class="items small-12">
                                  
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  
                              </ul>
                          </div>
                      </section>
                      <section class="sub-totals small-12">
                          <div class="small-6">
                              <ul>
                                  <li>
                                      <span>Subtotal</span>
                                  </li>
                                  <li>
                                      <span>Shipping</span>
                                  </li>
                                  <li>
                                      <span>Tax</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="small-6 cost">
                              <ul>
                                  <li>
                                      <span>$196.00</span>
                                  </li>
                                  <li>
                                      <span>$10.00</span>
                                  </li>
                                  <li>
                                      <span>$1.37</span>
                                  </li>
                              </ul>
                          </div>
                      </section>
                      <section class="total small-12">
                          <div class="small-6">
                              <span>Total</span>
                          </div>
                          <div class="small-6 final">
                              <span>$207.37</span>
                          </div>
                      </section>
                      <section class="checkout small-12">
                          <button class="btn green" type="submit">Checkout</button>
                      </section>
                  </form>
              </div>
          </aside>

          <main class="main-section">
              <div class="row">
                  
              </div>
          </main>
          
          <footer>
            <div class="row">
                <div class="footer-top small-12">
                    <div class="small-12 small-centered medium-10 columns">
                        <div class="small-12">
                            <div class="small-12 medium-3 columns">
                                <h2>Discover &amp; Shop</h2>
                                <ul>
                                    <li>
                                        <a href="#">Brands</a>
                                    </li>
                                    <li>
                                        <a href="#">Shops</a>
                                    </li>
                                    <li>
                                        <a href="#">Camp &amp; Hike</a>
                                    </li>
                                    <li>
                                        <a href="#">Fishing</a>
                                    </li>
                                    <li>
                                        <a href="#">Hunting</a>
                                    </li>
                                        <li>
                                        <a href="#">Climbing</a>
                                    </li>
                                    <li>
                                        <a href="#">Cycling</a>
                                    </li>
                                    <li>
                                        <a href="#">Boat &amp; Marine</a>
                                    </li>
                                        <li>
                                        <a href="#">Water Sports</a>
                                    </li>
                                    <li>
                                        <a href="#">Fitness &amp; Recreation</a>
                                    </li>
                                    <li>
                                        <a href="#">Snow Sports</a>
                                    </li>
                                        <li>
                                        <a href="#">Home &amp; Cabin</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="small-12 medium-3 columns">
                                <h2>Sell on ZeroBars</h2>
                                <ul>
                                    <li>
                                        <a href="#">Open a Store</a>
                                    </li>
                                    <li>
                                        <a href="#">Resources</a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Basecamp</span>
                                            <span>Coming Soon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Getting Started</a>
                                    </li>
                                    <li>
                                        <a href="#">Category Requirements</a>
                                    </li>
                                    <li>
                                        <a href="#">Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="small-12 medium-3 columns">
                                <h2>Get to Know Us</h2>
                                <ul>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Join The Team</span>
                                            <span>Coming Soon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Press</span>
                                            <span>Coming Soon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Support</span>
                                            <span>Coming Soon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Technical Support</span>
                                            <span>Coming Soon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="small-12 medium-3 columns">
                                <h2>Site Policies</h2>
                                <ul>
                                    <li>
                                        <a href="#">ZeroBars Guidelines</a>
                                    </li>
                                    <li>
                                        <a href="#">Seller Guidelines</a>
                                    </li>
                                    <li>
                                        <a href="#">Buyer Guidelines</a>
                                    </li>
                                        <li>
                                        <a href="#">Terms of Use</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Copyright &amp; IP</a>
                                    </li>
                                        <li>
                                        <a href="#">Fees</a>
                                    </li>
                                    <li>
                                        <a href="#">ZeroBars Payments</a>
                                    </li>
                                    <li>
                                        <a href="#">Advertising</a>
                                    </li>
                                        <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                        <li>
                                        <a href="#">Returns</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="small-12">
                        <div class="small-12 small-centered medium-10 columns emailSignUp">
                            <div class="small-12 medium-6 columns newsy">
                                <form action="#" method="post" id="newsletter-validate-detail">
                                    <div class="small-12">
                                       <span class="newsy-title">ZeroBars Newsletter</span>
                                    </div>
                                    <ul class="small-12">
                                        <li class="small-12">
                                            <div class="never-spam">
                                                <input type="text" placeholder="Enter your email address" name="email" id="newsletter" title="Your Email" class="email input input-text required-entry validate-email" data-role="none">
                                                <span>*Don't worry, we won't spam you. We hate spam as well.</span>
                                            </div>
                                        </li>
                                        <li class="small-12">
                                            <button type="submit" onclick="_gaq.push(['_trackEvent', 'Newsletter', 'Click', 'signup']);" title="Email Signup" class="btn green" data-role="none">
                                                Sign Up
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                            <div class="small-12 medium-6 columns social">
                                <ul>
                                    <li><a href="https://twitter.com/Zer0Bars"><i class="fi-social-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/ZeroBars"><i class="fi-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="fi-social-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom small-12">
                    <div class="small-12 medium-5">
                        <ul>
                            <li><a href="/resources/site-policies/terms-and-conditions" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Terms']);">Terms of Use</a></li>
                            <li><a href="/resources/site-policies/privacy-policy" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Privacy']);">Privacy Policy</a></li>
                            <li><a href="/resources/support.html" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Contact']);">Support</a></li>
                            <li><a href="/resources/site-policies" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Policies']);">Policies</a></li>  
                        </ul>  
                    </div>
                    <div class="small-12 medium-2 logo">
                        <a href="/" title="Zero-Bars.com" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Logo']);">
                            <img src="../../img/footer-mini-zb-pin.gif" alt="Zero-Bars.com" width="20" height="25">
                        </a>
                    </div>
                    <div class="small-12 medium-5 copyright"> 
                        <address>&copy; 2015 Nyne20, LLC.</address>
                    </div>
                </div>
            </div>
        </footer>
          
        <div id="signin" class="reveal-modal signin userModal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="bg-image-holder small-12" style="opacity:.9; background:url('../../img/signin-modal-bg.png') 50% 0% / cover;">
                <img src="../../img/signin-modal-bg.png" style="display:none;">
            </div>
            <div class="form-wrap small-12 small-centered large-centered medium-6 large-4 columns">
                <h2>Sign in to continue</h2>
                <form class="small-12 small-centered columns">
                    <ul>
                        <li>
                            <label><i class="fi-mail"></i></label>
                            <input type="email" placeholder="Email" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-torso"></i></label>
                            <input type="password" placeholder="Password" autocomplete="off">
                        </li>
                        <li>
                            <button type="submit" class="btn trans">Login</button>
                        </li>
                    </ul>
                </form>
                <div class="forgot small-12 columns">
                    <ul>
                        <li>
                            <a href="../account/create.html">Create an account</a>
                        </li>
                        <li>
                            <a href="../account/forgot.html">I've forgotten my password</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="close-reveal-modal" aria-label="Close"><i class="fi-x"></i></a>
        </div>

        <div id="register" class="reveal-modal register userModal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="bg-image-holder small-12" style="opacity:.9; background:url('../../img/signin-modal-bg.png') 50% 0% / cover;">
                <img src="../../img/signin-modal-bg.png" style="display:none;">
            </div>
            <div class="form-wrap small-12 small-centered large-centered medium-6 large-4 columns">
                <h2>Create an Account</h2>
                <form class="small-12 small-centered columns">
                    <ul>
                        <li>
                            <label><i class="fi-torso"></i></label>
                            <input type="text" placeholder="Your Name" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-mail"></i></label>
                            <input type="email" placeholder="Email" autocomplete="off">
                        </li>
                        <li>
                            <label><i class="fi-key"></i></label>
                            <input type="password" placeholder="Password" autocomplete="off">
                        </li>
                        <li>
                            <button type="submit" class="btn trans">Login</button>
                        </li>
                    </ul>
                </form>
            </div>
            <a class="close-reveal-modal" aria-label="Close"><i class="fi-x"></i></a>
        </div>
          
        <a class="exit-off-canvas"></a>

      </div>
    </div>
    
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="../../js/foundation/foundation.offcanvas.js"></script>
    <script src="../../js/foundation/foundation.reveal.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function() {

        });
    </script>
    
</body>
</html>