<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Product at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="product">
    <div class="menus off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
          
          <header>
              <nav class="pri-nav">
                  <div class="small-4 browse columns">
                    <a class="left-off-canvas-toggle" href="#">
                        <i class="fi-list"></i>
                        <span>Browse</span>
                    </a>
                  </div>

                  <div class="small-4 logo columns">
                    <h1>
                        <a href="#">
                            <img src="../../img/zerobars-logo-white.png" alt="ZeroBars Home">
                        </a>  
                    </h1>
                  </div>

                  <div class="small-4 cart columns">
                      <ul>
                          <li>
                              <a class="right-off-canvas-toggle cart-icon" href="#">
                                  <i class="fi-shopping-bag"></i>
                                  <span class="count">2</span>
                              </a>
                          </li>
                          <li>
                            <span class="sep">|</span>
                          </li>
                          <li>
                              <a class="signin" href="#">
                                  Sign In
                              </a>
                          </li>
                      </ul>
                  </div>
                  
                  <div class="site-search small-12 columns">
                      <form>
                          <ul>
                              <li class="small-9">
                                  <input type="search" placeholder="Search for something">
                              </li>
                              <li class="small-3">
                                  <button>
                                      <i class="fi-magnifying-glass"></i>
                                  </button>
                              </li>
                          </ul>
                      </form>
                  </div>
              </nav>
          </header>

          <aside class="left-off-canvas-menu">
              
          </aside>

          <aside class="right-off-canvas-menu cart">
              <div class="row">
                  <form class="cart-form small-12">
                      <section class="cart-header small-12">
                          <h1>Your Cart</h1>
                      </section>
                      <section class="cart-items small-12">
                          <div class="container small-12">
                              <ul class="items small-12">
                                  
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="item">
                                      <div class="product small-12">
                                          <ul>
                                              <li class="image">
                                                  <img src="../../img/sample-product-image.jpg" alt="Product Name">
                                              </li>
                                              <li class="names">
                                                  <a class="name" href="product.html">
                                                      Sample Turkey Mouth Call - Blue
                                                  </a>
                                                  <a class="seller" href="#">
                                                      AwesomeSauce
                                                  </a>
                                              </li>
                                              <li class="actions">
                                                  <button class="remove">
                                                      <i class="fi-x"></i>
                                                  </button>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="leftovers small-12">
                                          <ul>
                                              <li class="qty">
                                                  <span>Qty</span>
                                              </li>
                                              <li class="in">
                                                  <input type="text" value="1">
                                              </li>
                                              <li class="price">
                                                  <span>$98.00</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  
                              </ul>
                          </div>
                      </section>
                      <section class="sub-totals small-12">
                          <div class="small-6">
                              <ul>
                                  <li>
                                      <span>Subtotal</span>
                                  </li>
                                  <li>
                                      <span>Shipping</span>
                                  </li>
                                  <li>
                                      <span>Tax</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="small-6 cost">
                              <ul>
                                  <li>
                                      <span>$196.00</span>
                                  </li>
                                  <li>
                                      <span>$10.00</span>
                                  </li>
                                  <li>
                                      <span>$1.37</span>
                                  </li>
                              </ul>
                          </div>
                      </section>
                      <section class="total small-12">
                          <div class="small-6">
                              <span>Total</span>
                          </div>
                          <div class="small-6 final">
                              <span>$207.37</span>
                          </div>
                      </section>
                      <section class="checkout small-12">
                          <button class="btn green" type="submit">Checkout</button>
                      </section>
                  </form>
              </div>
          </aside>

          <main class="main-section">
              main
          </main>
          
          <footer>
              footer
          </footer>

          <a class="exit-off-canvas"></a>

      </div>
    </div>
    
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="../../js/foundation/foundation.offcanvas.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function() {

        });
    </script>
    
</body>
</html>