<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Manage your store - Forge at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="stylesheet" href="../../css/forge.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="forge orders">
    
    <header>
        <!-- Insert mobile nav here -->
    </header>
    
    <main>
        <section>
            <div class="sidebar columns show-for-large-up">
                <div class="store-details small-12">
                    <div class="user-avatar">
                        <img src="../../img/default-store-logo.png" alt="Store Logo">
                        <a class="logout" href="#"><i class="fi-power"></i></a>
                    </div>
                    <div class="user small-12">
                        <span class="name">Jacob Ollmann</span>
                        <span class="store_name">AwesomeSauce</span>                            
                    </div>
                </div>
                <div class="forgeNav small-12">
                    <nav class="profile-nav small-12">
                        <ul>
                            <li class="columns">
                                <a href="forge-profile.html">
                                    <div class="store-avatar"><i class="fi-torso"></i></div>
                                    <span>Personal Profile</span>
                                </a>
                            </li>
                            <li class="columns">
                                <a class="logout" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="settings">
                        <ul>
                            <li>
                                <h3>Manage</h3>
                            </li>
                            <li class="columns">
                                <a class="dashboard" href="#">Store Dashboard</a>
                            </li>
                            <li class="columns">
                                <a class="orders" href="orders.html">Orders</a>
                            </li>
                            <li class="columns">
                                <a class="products" href="#">Products</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="settings">
                        <ul>
                            <li>
                                <h3>Settings</h3>
                            </li>
                            <li class="columns">
                                <a class="setting" href="#">Store Settings</a>
                            </li>
                            <li class="columns">
                                <a class="policies" href="#">Policies</a>
                            </li>
                            <li class="columns">
                                <a class="payment" href="#">Payment</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="settings">
                        <ul>
                            <li>
                                <h3>Learn</h3>
                            </li>
                            <li class="columns">
                                <a class="base" href="#">Basecamp</a>
                            </li>
                            <li class="columns">
                                <a class="help" href="#">Help</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="content small-12 columns">
                <div class="row">
                    <div class="forge-header small-12">
                        <div class="title small-12 medium-6">
                            <h1>Orders</h1>
                        </div>
                        <div class="ctas small-12 medium-6">
                            <ul>
                                <li>
                                    <a class="btn trans" href="mailto:support@zero-bars.com"><i class="fi-mail"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="pulse small-12">
                        <div class="stats small-12 medium-3">
                            <p>$249.33</p>
                            <span>total sales</span>
                        </div>
                        <div class="stats small-12 medium-3">
                            <p>$78.33</p>
                            <span>scheduled payments</span>
                        </div>
                        <div class="stats small-12 medium-3">
                            <p>$8.99</p>
                            <span>pending orders</span>
                        </div>
                    </div>
                    <div class="chart small-12">
                        <div id="chartContainer" style="height: 500px; width: 100%;"></div>
                    </div> -->
                    <div class="order-table small-12 pushmenu-push">
                        <div class="orders-table small-12" id="orders-table">
                            <div class="thead small-12">
                               <div class="activity small-12">
                                    <h3>Activity</h3>
                                </div> 
                            </div>
                            <div class="tnav small-12">
                                <div class="pagination small-12 medium-6">
                                    <ul>
                                        <li>
                                            <a class="btn trans previous" href="#" title="Previous">
                                                <i class="fi-arrow-left"></i>
                                            </a>
                                        </li>
                                        <li class="current"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                            <a class="btn trans next" href="#" title="Next">
                                                <i class="fi-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tbody small-12">
                                <div class="activities small-12">
                                    <div class="trow summary small-12">
                                        <a class="small-12 pending activity" id="activity1" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status review info">
                                                <p>Under Review</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 declined activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status declined info">
                                                <p>Declined</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="trow summary small-12">
                                        <a class="small-12 approved activity" href="#">
                                            <div class="date info">
                                                <p>2/26/15</p>
                                            </div>
                                            <div class="order info">
                                                <p>0000000001</p>
                                            </div>
                                            <div class="product info">
                                                <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                            </div>
                                            <div class="status approved info">
                                                <p>Approved</p>
                                            </div>
                                            <div class="total info">
                                                <p>$29.77</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="activity-detail pushmenu pushmenu-left">
                                    <div class="analysis low small-12">
                                        <p>Low</p>
                                    </div>
                                    <div class="date small-12">
                                        <p>May 30, 2015 08:25 am</p>
                                    </div>
                                    <div class="status approved small-12">
                                        <p>Approved</p>
                                    </div>
                                    <div class="product small-12">
                                        <p><img src="../../img/sample-product-image.jpg"> Sample Turkey Mouth Call - Blue</p>
                                    </div>
                                    <div class="breakdown small-12">
                                        <p>19.77 <span>price</span></p>
                                        <p>10.00 <span>shipping</span></p>
                                        <p>-2.07 <span class="fee">transaction fee</span></p>
                                    </div>
                                    <div class="total">
                                        <p class="totes">$27.70</p>
                                    </div>
                                    <div class="customer small-12">
                                        <p class="customer-label">Customer</p>
                                        <div class="small-6">
                                            <p class="name">Jacob Ollmann</p>
                                            <a href="mailto:jacob.ollmann@zero-bars.com" class="email">jacob.ollmann@zero-bars.com</a>
                                            <a href="tel:9205551234" class="phone">(920)819-2344</a>
                                        </div>
                                        <div class="small-6">
                                            <p class="address">
                                            2420 Libal St.<br>
                                            Apt. 1<br>
                                            Green Bay, WI 54301
                                        </p>
                                        </div>
                                    </div>
                                    <div class="shipping small-12">
                                        <form>
                                            <label>Shippping<em>*</em></label>
                                            <select>
                                                <option>Please Choose...</option>
                                                <option>USPS</option>
                                                <option>UPS</option>
                                                <option>FedEx</option>
                                                <option>DHL</option>
                                            </select>
                                            <input type="text" placeholder="e.g. 218HSDIHF7D39C9P29CHD" autocomplete="off">
                                            <button class="btn green" type="submit">Ship Product</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination bottom small-12 medium-6">
                                <ul>
                                    <li>
                                        <a class="btn trans previous" href="#" title="Previous">
                                            <i class="fi-arrow-left"></i>
                                        </a>
                                    </li>
                                    <li class="current"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a class="btn trans next" href="#" title="Next">
                                            <i class="fi-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </main>
    
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="../../js/vendor/canvasjs.min.js"></script>
    
    <script>
        $(document).foundation();
            
        $(document).ready(function() {
	
            setTimeout(function(){
                $('body').addClass('loaded');
            }, 2000);
            
            $menuLeft = $('.pushmenu-left');
            $activity = $('.activity');

            $activity.click(function() {
                $(this).toggleClass('active');
                $('.pushmenu-push').toggleClass('pushmenu-push-toright');
                $menuLeft.toggleClass('pushmenu-open');
            });
            
            /* $(function () {
                //Better to construct options first and then pass it as a parameter
                var options = {
                    title: {
                        text: "Spline Chart using jQuery Plugin"
                    },
                            animationEnabled: true,
                    data: [
                    {
                        type: "spline", //change it to line, area, column, pie, etc
                        dataPoints: [
                            { x: 10, y: 10 },
                            { x: 20, y: 12 },
                            { x: 30, y: 8 },
                            { x: 40, y: 14 },
                            { x: 50, y: 6 },
                            { x: 60, y: 24 },
                            { x: 70, y: -4 },
                            { x: 80, y: 10 }
                        ]
                    }
                    ]
                };

                $("#chartContainer").CanvasJSChart(options);

            }); */

        });
    </script>
    
</body>
</html>