<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Manage your store - Forge at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">
    <link rel="stylesheet" href="../../css/forge.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="forge print">
    
    <header>
        <!-- Insert mobile nav here -->
    </header>
    
    <main>
        <section>
            <div class="content small-12 columns">
                <div class="row">
                    <div class="forge-header small-12">
                        <div class="title small-12 medium-6">
                            <h1>Order: 0000000001</h1>
                        </div>
                        <div class="ctas small-12 medium-6">
                            <ul>
                                <li>
                                    <a class="btn trans mail" href="mailto:support@zero-bars.com"><i class="fi-mail"></i></a>
                                </li>
                                <li>
                                    <a class="btn trans mail" href="javascript:window.print()"><i class="fi-print"></i></a>
                                </li>
                                <li>
                                    <a class="btn green" href="orders.html">All Orders</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-details small-12">
                        <div class="intro small-12">
                            <h2>About This Order:</h2>
                            <p><span>Order Date:</span> February 26, 2015</p>
                        </div>
                        <div class="shipping-address shipping-container small-12 medium-6">
                            <h3>Shipping Address</h3>
                            <ul>
                                <li>
                                    <p>Jacob Ollmann</p>
                                </li>
                                <li>
                                    <p>Company Name</p>
                                </li>
                                <li>
                                    <p>123 Main St.</p>
                                </li>
                                <li>
                                    <p>Green Bay, WI 54301</p>
                                </li>
                                <li>
                                    <p>(920)819-2344</p>
                                </li>
                            </ul>
                        </div>
                        <div class="shipping-method shipping-container small-12 medium-6">
                            <h3>Shipping Method</h3>
                            <ul>
                                <li>
                                    <p><span>From Seller:</span> UPS Ground</p>
                                </li>
                                <li>
                                    <p><span>Tracking Number:</span> 1837499f2h2d292383ry3ru</p>
                                </li>
                            </ul>
                        </div>
                        <div class="billing-address shipping-container small-12 medium-6">
                            <h3>Billing Address</h3>
                            <ul>
                                <li>
                                    <p>Jacob Ollmann</p>
                                </li>
                                <li>
                                    <p>Company Name</p>
                                </li>
                                <li>
                                    <p>123 Main St.</p>
                                </li>
                                <li>
                                    <p>Green Bay, WI 54301</p>
                                </li>
                                <li>
                                    <p>(920)819-2344</p>
                                </li>
                            </ul>
                        </div>
                        <div class="billing-address shipping-container small-12 medium-6">
                            <h3>Payment Method</h3>
                            <ul>
                                <li>
                                    <p><span>Payment Method:</span> Credit Card</p>
                                </li>
                                <li>
                                    <p><span>Credit Card Type:</span> Visa</p>
                                </li>
                                <li>
                                    <p><span>Card Used:</span> XXXX-4111</p>
                                </li>
                            </ul>
                        </div>
                        <div class="order-info small-12">
                            <table class="table small-12">
                                <thead class="small-12">
                                    <tr>
                                        <th class="small-6"><span>Product</span></th>
                                        <th class="small-2"><span>Price</span></th>
                                        <th class="small-2"><span>QTY</span></th>
                                        <th class="small-2"><span>Subtotal</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="small-6"><img src="../../img/sample-product-image.jpg" width="25" height="25" alt="Jacob's Avatar"> <span>Winchester Knives 22 - 41473 WinFrame Multi-Tool</span></td>
                                        <td class="small-2">$28.22</td>
                                        <td class="small-2">1</td>
                                        <td class="small-2">$28.22</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="order-totals small-12">
                                <ul>
                                    <li>
                                        <span class="amount">
                                            $28.22
                                        </span>
                                        <span class="amount-label">
                                            Subtotal
                                        </span>
                                    </li>
                                    <li>
                                        <span class="amount">
                                            $0.00
                                        </span>
                                        <span class="amount-label">
                                            Shipping
                                        </span>
                                    </li>
                                    <li>
                                        <span class="amount">
                                            $1.55
                                        </span>
                                        <span class="amount-label">
                                            Tax
                                        </span>
                                    </li>
                                    <li>
                                        <span class="grand amount">
                                            $29.77
                                        </span>
                                        <span class="grand amount-label">
                                            Grand Total
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </main>
    
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    
    <!-- Custom Scripts -->
    <script src="../../js/vendor/canvasjs.min.js"></script>
    
    <script>
        $(document).foundation();
            
        $(document).ready(function() {
	
            setTimeout(function(){
                $('body').addClass('loaded');
            }, 2000);
            
            $menuLeft = $('.pushmenu-left');
            $activity = $('.activity');

            $activity.click(function() {
                $(this).toggleClass('active');
                $('.pushmenu-push').toggleClass('pushmenu-push-toright');
                $menuLeft.toggleClass('pushmenu-open');
            });
            
            /* $(function () {
                //Better to construct options first and then pass it as a parameter
                var options = {
                    title: {
                        text: "Spline Chart using jQuery Plugin"
                    },
                            animationEnabled: true,
                    data: [
                    {
                        type: "spline", //change it to line, area, column, pie, etc
                        dataPoints: [
                            { x: 10, y: 10 },
                            { x: 20, y: 12 },
                            { x: 30, y: 8 },
                            { x: 40, y: 14 },
                            { x: 50, y: 6 },
                            { x: 60, y: 24 },
                            { x: 70, y: -4 },
                            { x: 80, y: 10 }
                        ]
                    }
                    ]
                };

                $("#chartContainer").CanvasJSChart(options);

            }); */

        });
    </script>
    
</body>
</html>