<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login to your Zerobars account</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="login sisu">

    <header>
        
    </header>
    
    <main>
        <section>
            <div class="row">
                <div class="form-container small-12 small-centered large-centered medium-6 large-3 columns">
                    <h1>Create an Account</h1>
                    <form class="small-12 small-centered columns">
                        <ul>
                            <li>
                                <label><i class="fi-torso"></i></label>
                                <input type="text" placeholder="Your Name" autocomplete="off">
                            </li>
                            <li>
                                <label><i class="fi-mail"></i></label>
                                <input type="email" placeholder="Email" autocomplete="off">
                            </li>
                            <li>
                                <label><i class="fi-key"></i></label>
                                <input type="password" placeholder="Password" autocomplete="off">
                            </li>
                            <li>
                                <button type="submit" class="btn green">Login</button>
                            </li>
                        </ul>
                    </form>
                    <div class="forgot small-12 columns">
                        <ul>
                            <li>
                                <a href="login.html">Already have an account?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <section>
            <div class="row">
                <div class="small-12 columns">
                    <a href="/">
                        <img src="../../img/zerobars-logo-white.png" alt="ZeroBars Home"/>
                    </a>
                </div>
            </div>
        </section>
    </footer>
    
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function() {
	
            setTimeout(function(){
                $('body').addClass('loaded');
            }, 2000);

        });
    </script>
    
</body>
</html>