<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Account Dashboard at ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/app.js"></script>
    
</head>
<body class="account dashboard">

    <header>
        <section>
            <div class="row">
                <div class="header white desktop show-for-medium-up small-12 medium-12 columns">
                    <div class="medium-3">
                        <div class="logo">
                            <a href="/">
                                <img src="../../img/zerobars-logo-white.png" width="72" alt="ZeroBars Home"/>
                            </a>
                        </div>
                        <div class="site-search">
                            <form>
                                <input class="search" type="search" maxlength="128" autocomplete="off">
                            </form>
                        </div>
                    </div>
                    <div class="priNav medium-9">
                        <div class="small-12 top-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span>Support</span> 
                                            <i class="fi-comment"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Help</span> 
                                            <i class="fi-results-demographics"></i>
                                        </a>
                                    </li>
                                    <li class="cart">
                                        <a href="#">
                                            <i class="fi-shopping-cart"></i>
                                            <span class="count-badge">1</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="small-12 main-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Browse
                                            <i class="fi-arrow-down"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sellers
                                        </a>
                                    </li>
                                    <li class="show-for-large-up">
                                        <a href="#">
                                            Pricing
                                        </a>
                                    </li>
                                    <li class="show-for-large-up">
                                        <a href="#">
                                            Features
                                        </a>
                                    </li>
                                    <li class="not-logged-in" style="display:none;">
                                        <a href="#">
                                            Log in / Join
                                            <i class="fi-torso"></i>
                                        </a>
                                    </li>
                                    <li class="logged-in">
                                        <a href="">
                                            <img src="../../img/my-avatar.jpg" width="30" height="30" alt="Profile Pic"/>
                                            <span>My Account</span>
                                            <i class="fi-down-arrow"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    
    <main>
        <section class="feature">
            <div class="clouds" style="visibility: inherit; opacity: 1; background: url('../../img/clouds.png') 0px 100% repeat-x;"></div>
            <div class="row">
                <div class="profileInfo small-12 small-centered columns">
                    <div class="small-12 small-centered medium-5 columns">
                        <div class="userAvatar small-12 medium-3">
                            <img src="../../img/my-avatar.jpg" width="132" alt="User Name">
                            <span>
                                <a href="#">
                                    <i class="fi-power"></i>
                                </a>
                            </span>
                        </div>
                        <div class="userData small-12 medium-9">
                            <div class="userName small-12">
                                <h1>
                                    <span>Jacob Ollmann</span>
                                    <a href="edit-profile.html"><i class="fi-pencil"></i></a>
                                </h1>
                            </div>
                            <div class="userEmail small-12">
                                <span>jacob.ollmann@zero-bars.com </span>
                                <a href="edit-profile.html"><i class="fi-pencil"></i></a>
                            </div>
                            <ul>
                                <li>
                                    <a class="btn trans" href="edit-profile.html">Profile</a>
                                </li>
                                <li>
                                    <a class="btn trans" href="#">Privacy</a>  
                                </li>
                                <li>
                                    <a class="btn trans" href="#">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="subFeature">
            <div class="row">
                <div class="small-12 small-centered columns">
                    <div class="sidebar medium-4 small-12">
                        <div class="createStore small-12">
                            <ul>
                                <li>
                                    <a class="btn green" href="#">Create a Store</a>
                                </li>
                            </ul>
                        </div>
                        <div class="accountNav small-12">
                            <div class="navTitle small-12">
                                <h2>Account</h2>
                            </div>
                            <div class="navigation">
                                <ul>
                                    <li>
                                        <a href="#">Account Overview <i class="fi-layout"></i></a>
                                    </li>
                                    <li>
                                        <a href="edit-profile.html">Edit Profile <i class="fi-torso"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">Order History <i class="fi-credit-card"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">Logout <i class="fi-power"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="main-content medium-8 small-12">
                        <div class="container small-12 medium-5">
                            <div class="sectionName small-12 columns">
                                <i class="fi-torso"></i>
                                <h2>Jacob's Account</h2>
                            </div>
                            <div class="sectionLinks small-12 columns">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fi-layout"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="edit-profile.html">
                                            <i class="fi-torso"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fi-credit-card"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fi-power"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="promo small-12 columns">
                                <p>Need some help getting started? We have a <a href="#">guide</a> for that.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer data-role="footer">
        <div class="row">
            <div class="footer-top small-12">
                <div class="small-12 small-centered medium-10 columns">
                    <div class="small-12">
                        <div class="small-12 medium-3 columns">
                            <h2>Discover &amp; Shop</h2>
                            <ul>
                                <li>
                                    <a href="#">Brands</a>
                                </li>
                                <li>
                                    <a href="#">Shops</a>
                                </li>
                                <li>
                                    <a href="#">Camp &amp; Hike</a>
                                </li>
                                <li>
                                    <a href="#">Fishing</a>
                                </li>
                                <li>
                                    <a href="#">Hunting</a>
                                </li>
                                    <li>
                                    <a href="#">Climbing</a>
                                </li>
                                <li>
                                    <a href="#">Cycling</a>
                                </li>
                                <li>
                                    <a href="#">Boat &amp; Marine</a>
                                </li>
                                    <li>
                                    <a href="#">Water Sports</a>
                                </li>
                                <li>
                                    <a href="#">Fitness &amp; Recreation</a>
                                </li>
                                <li>
                                    <a href="#">Snow Sports</a>
                                </li>
                                    <li>
                                    <a href="#">Home &amp; Cabin</a>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-3 columns">
                            <h2>Sell on ZeroBars</h2>
                            <ul>
                                <li>
                                    <a href="#">Open a Store</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                                <li>
                                    <a>
                                        <span>Basecamp</span>
                                        <span>Coming Soon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Getting Started</a>
                                </li>
                                <li>
                                    <a href="#">Category Requirements</a>
                                </li>
                                <li>
                                    <a href="#">Features</a>
                                </li>
                                <li>
                                    <a href="#">Pricing</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-3 columns">
                            <h2>Get to Know Us</h2>
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a>
                                        <span>Join The Team</span>
                                        <span>Coming Soon</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>Press</span>
                                        <span>Coming Soon</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>Support</span>
                                        <span>Coming Soon</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span>Technical Support</span>
                                        <span>Coming Soon</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="small-12 medium-3 columns">
                            <h2>Site Policies</h2>
                            <ul>
                                <li>
                                    <a href="#">ZeroBars Guidelines</a>
                                </li>
                                <li>
                                    <a href="#">Seller Guidelines</a>
                                </li>
                                <li>
                                    <a href="#">Buyer Guidelines</a>
                                </li>
                                    <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Copyright &amp; IP</a>
                                </li>
                                    <li>
                                    <a href="#">Fees</a>
                                </li>
                                <li>
                                    <a href="#">ZeroBars Payments</a>
                                </li>
                                <li>
                                    <a href="#">Advertising</a>
                                </li>
                                    <li>
                                    <a href="#">Shipping</a>
                                </li>
                                    <li>
                                    <a href="#">Returns</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="small-12">
                    <div class="small-12 small-centered medium-10 columns emailSignUp">
                        <div class="small-12 medium-6 columns newsy">
                            <form action="#" method="post" id="newsletter-validate-detail">
                                <div class="small-12">
                                   <span class="newsy-title">ZeroBars Newsletter</span>
                                </div>
                                <ul class="small-12">
                                    <li class="small-12">
                                        <div class="never-spam">
                                            <input type="text" placeholder="Enter your email address" name="email" id="newsletter" title="Your Email" class="email input input-text required-entry validate-email" data-role="none">
                                            <span>*Don't worry, we won't spam you. We hate spam as well.</span>
                                        </div>
                                    </li>
                                    <li class="small-12">
                                        <button type="submit" onclick="_gaq.push(['_trackEvent', 'Newsletter', 'Click', 'signup']);" title="Email Signup" class="btn green" data-role="none">
                                            Sign Up
                                        </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="small-12 medium-6 columns social">
                            <ul>
                                <li><a href="https://twitter.com/Zer0Bars"><i class="fi-social-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/ZeroBars"><i class="fi-social-facebook"></i></a></li>
                                <li><a href="#"><i class="fi-social-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom small-12">
                <div class="small-12 medium-5">
                    <ul>
                        <li><a href="/resources/site-policies/terms-and-conditions" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Terms']);">Terms of Use</a></li>
                        <li><a href="/resources/site-policies/privacy-policy" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Privacy']);">Privacy Policy</a></li>
                        <li><a href="/resources/support.html" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Contact']);">Support</a></li>
                        <li><a href="/resources/site-policies" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Policies']);">Policies</a></li>  
                    </ul>  
                </div>
                <div class="small-12 medium-2 logo">
                    <a href="/" title="Zero-Bars.com" onclick="_gaq.push(['_trackEvent', 'Footer', 'Click', 'Logo']);">
                        <img src="../../img/footer-mini-zb-pin.gif" alt="Zero-Bars.com" width="20" height="25">
                    </a>
                </div>
                <div class="small-12 medium-5 copyright"> 
                    <address>&copy; 2013-2015 Nyne20, LLC.</address>
                </div>
            </div>
        </div>
    </footer>

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function() {
	
            setTimeout(function(){
                $('body').addClass('loaded');
            }, 2000);

        });
    </script>
    
</body>
</html>