<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <!-- If you delete this meta tag World War Z will become a reality -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Begin Selling on ZeroBars</title>

    <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/foundation.css">
    <link rel="stylesheet" href="../../css/foundation-icons.css">
    <link rel="stylesheet" href="../../css/foundation.css">

    <!-- If you are using the gem version, you need this only -->
    <link rel="stylesheet" href="../../css/app.css">

    <script src="../../js/vendor/modernizr.js"></script>
    <script src="../../js/vendor/cropbox.js"></script>
    
    <script src="../../js/app.js"></script>
    <script>
        function readCover(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#cover')
                        .attr('src', e.target.result)
                        .width(607)
                        .height(227);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        
        function readLogo(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logo')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    
</head>
<body class="store-signup sisu">
    <div class="wrapper">
        <header>
        
        </header>

        <main>
            <section>
                <div class="row">
                    <div class="store-form-container small-12 small-centered large-centered medium-8 large-5 columns">
                        <h1>Enter in your store's policies.</h1>
                        <div class="paged small-12">
                            <ul>
                                <li>
                                    <span>
                                        <a href="store-create-1.html"></a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="store-create-2.html"></a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="store-create-3.html"></a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="store-create-4.html"></a>
                                    </span>
                                </li>
                                <li class="current">
                                    <span>
                                        <a href="store-create-5.html"></a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="store-create-6.html"></a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <form class="standard small-12 small-centered columns">
                            <ul>
                                <li>
                                    <label class="label">Your Store's Shipping and Returns Policy<em>*</em></label>
                                    <textarea placeholder="e.g. We ship UPS ground only. Returns must be made within 30 days of purchase."></textarea>
                                </li>
                                <li>
                                    <label class="label">Additional Store Policies or Directions</label>
                                    <textarea placeholder="e.g. To place a custom order follow these directions."></textarea>
                                </li>
                            </ul>
                        </form>
                        <div class="prev-next small-12">
                            <ul>
                                <li>
                                    <a class="btn trans" href="store-create-4.html"><i class="fi-arrow-left"></i> Back</a>
                                </li>
                                <li>
                                    <a class="btn green" href="store-create-6.html">Next <i class="fi-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="terms small-12">
                            <ul>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li><span></span></li>
                                <li>
                                    <a href="#">Terms &amp; Conditions</a>
                                </li>
                                <li><span></span></li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="disclaimer small-12">
                            <p>Copyright &copy; 2015 Nyne20, LLC. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <section>
                <div class="row">
                    <div class="small-12 columns">
                        <a href="/">    
                            <img src="../../img/zerobars-logo-white.png" alt="ZeroBars Home"/>
                        </a>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../js/foundation.min.js"></script>
    
    <!-- Custom scripts for this page -->
    <script src="../../js/foundation/foundation.reveal.js"></script>
    
    <script>
        $(document).foundation();
        $(document).ready(function() {
	
            setTimeout(function(){
                $('body').addClass('loaded');
            }, 2000);

        });
    </script>
</body>
</html>